@tailwind base;
@tailwind components;
@tailwind utilities;




//@import '@syncfusion/ej2-base/styles/material.css';
//@import '@syncfusion.Blazor/styles/material.css';
//@import '@syncfusion/ej2-icons/styles/material.css';
// @import '@syncfusion/ej2-buttons/styles/material.css';
// @import '@syncfusion/ej2-splitbuttons/styles/material.css';
// @import '@syncfusion/ej2-inputs/styles/material.css';
// @import '@syncfusion/ej2-lists/styles/material.css';
// @import '@syncfusion/ej2-navigations/styles/material.css';
// @import '@syncfusion/ej2-popups/styles/material.css';
// @import '@syncfusion/ej2-richtexteditor/styles/material.css';

/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f2f2f2;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

