

#content{
    background-image: url('../assets/images/image4.avif');
    background-size: cover;
}

#content::-webkit-scrollbar {
    width: 15px;
}
  
#content::-webkit-scrollbar-track {
background: #f1f1f1;
}
  

#content::-webkit-scrollbar-thumb {
background: #888;
}
  

#content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 640px){
   #content{
   // background-size: cover !important;
    height:100% !important;
    width: 100% !important;
    padding-right: 0px !important;
   } 
}