#Workflow That will continuously deploy the application to cloud 


name: Heroku Deployment


on:
  push:
    branches: [main]


jobs:
  heroku-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Deploy
        uses: akhilesthns/heroku-deploy@v3.12.12
        
        with: 
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}
